.modal {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.modal button {
    z-index: 5;
}